body{font-family: 'Lato' sans-serif;
font-family: 'Open Sans', sans-serif;}
.text-primary{color:orange}
.nav-title{font-size:45px;
  font-style: normal;
  font-weight:800;
  color: #000 xf;}
  .btn-primary{border-radius: 5px;
    width:150px;
    height:64px ;background: #FD6E0A;
    border: 0; color: white; padding: 15px 35px ;
  font-style: normal;
font-weight: 700;}
nav{ display: flex; align-items: center;justify-content: space-between;}
nav > ul{display: flex;}
nav li{list-style: none;
margin-right: 50px;}
nav a{text-decoration: none;
color: #474747; }